/* save #004e95 */
/* Start Global Variables */
:root {
  --main-color: #1c79c0;
  --background: #f1eded;
  --secondary-color: #013a6b;
  --heading: #2C4251;
}
/* End Global Variables */
/* Start Components */
.main-heading { 
  text-align: center;
}
.main-heading h2 {
  font-size: 40px;
  padding-top: 40px;
  margin-bottom: 55px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: cursive, Ubuntu;
  position: relative;
  color: var(--heading);
}
.main-heading h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: var(--heading);
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.main-heading h2::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid var(--heading);
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  bottom: -24px;
}
/* End Components */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
/* End Global Rules */

/* Start Scroll To Top Button */
.to-top {
  z-index: 50;
  position: fixed;
  bottom: 20px;
  right: -50px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
.to-top.show {
  right: 20px;
}
/* End Scroll To Top Button */

/* Start The Header */
header {
  background-color: #070606e3;
  box-shadow: inset 0px 0px 5px 0px #797171;
}
header h2 {
  color: var(--main-color);
  text-transform: uppercase;
  padding: 20px;
  font-family: cursive, Ubuntu;
  user-select: none;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  display: flex;
  align-items: center;
  z-index: 100;
  text-align: center;
  user-select: none;
  margin: 0;
}
header nav ul li {
  padding: 10px;
  width: 100%;
}
header nav ul li a {
  color: white;
  display: block;
  transition: 0.3s;
}
header nav ul li:hover a {
  color: var(--main-color);
}
@media (max-width: 768px) {
  header nav ul {
    display: none;
    background-color: #070606d4;
    box-shadow: 3px 5px 5px 1px rgb(15 116 143 / 27%);
    width: calc(100% - 10px);
    position: absolute;
    flex-direction: column;
    top: 81px;
    right: 5px;
    padding: 8px 20px;
    border-radius: 0 0 15px 15px;
  }
  header nav ul.active {
    display: flex;
  }
  header nav ul li:not(:last-child) {
    margin-bottom: 20px;
  }
}
header nav .icon {
  width: 30px;
  display: none;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 19px;
  margin-right: 12px;
}
header nav .icon:hover span {
  background-color: var(--main-color);
}
header nav .icon span {
  background-color: white;
  height: 2px;
  margin-bottom: 6px;
}
header nav .icon span:first-child {
  width: 100%;
}
header nav .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
header nav .icon span:last-child {
  width: 100%;
}
header nav .icon:hover span:nth-child(2) {
  width: 100%;
}
@media (max-width: 768px) {
  header nav .icon {
    display: flex;
    cursor: pointer;
  }
}
/* End The Header */

/* Start About */
.about {
  background-image: url(../Images/about.jpg);
  background-size: cover;
  padding: 100px 0;
  position: relative;
}
.about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #241b1b99;
}
.about .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .about .container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.about .about-box {
  background-color: rgb(15 116 143 / 70%);
  width: 60%;
  text-align: center;
  padding: 21px;
  border-radius: 0 23px;
  box-shadow: 5px 5px 2px 3px #0000002e;
  position: relative;
  top: 20px;
}
.about .about-box h3 {
  color: white;
  font-size: 24px;
  text-align: left;
  padding: 7px;
  margin-left: 9px;
}
.about .about-box p {
  color: white;
  padding: 7px;
  font-size: 21px;
  line-height: 1.7;
}
.about .about-box p span {
  font-weight: 500;
}
@media (max-width: 768px) {
  .about .about-box {
    width: calc(100% - 30px);
    top: 0;
  }
  .about .about-box h3 {
    text-align: center;
    margin-left: 0;
  }
}
.about .image,
.about .image img {
  width: 250px;
  height: 250px;
  border-radius: 70px 20px;
  box-shadow: 5px 5px 2px 3px #0000002e;
}
.about .image {
  position: relative;
  top: -10px;
}
@media (max-width: 768px) {
  .about .image {
    margin-bottom: 55px;
    top: 0px;
  }
}
/* End About */

/* Start The Skills */
.skills {
  background-color: var(--background);
}
.skills .skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills .skills-container .soft-container,
.skills .skills-container .techno-container {
  padding: 30px;
  flex: 1;
}
.skills .soft-container h3,
.skills .techno-container h3 {
  font-size: 28px;
  padding: 10px;
  margin-bottom: 30px;
  color: var(--secondary-color);
}
.skills .skills-container .prog-holder {
  padding: 10px;
  margin-bottom: 25px;
}
.skills .skills-container .prog-holder h4 {
  font-size: 18px;
  padding: 5px;
  margin-bottom: 20px;
}
.skills .skills-container .prog-holder .progress {
  min-width: 250px;
  height: 35px;
  border-radius: 15px;
  background-color: #0000002e;
  overflow: visible;
}
.skills .skills-container .prog-holder .progress span {
  display: block;
  height: 100%;
  border-radius: 15px;
  background-color: var(--main-color);
  position: relative;
}
.skills .skills-container .prog-holder .progress span.animate {
  animation: slide 1.5s;
}
@keyframes slide {
  0% {width: 0%;}
  100% {width: attr(data-progress);}
}
.skills .skills-container .prog-holder .progress span::before {
  content: attr(data-progress);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: white;
  font-size: 17px;
}
/* End The Skills */

/* Start The Projects */
.projects {
  background-color: var(--background);
}
.projects .carousel {
  position: relative;
  height: 550px;
  padding-bottom: 70px;
  user-select: none;
}
.projects .carousel-inner {
  height: 100%;
}
.projects .carousel-inner .carousel-item.active {
  height: 100%;
}
.projects .carousel-inner .item {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.projects .carousel-inner .item a img {
  max-width: 100%;
  height: 475px;
  object-fit: contain;
}
@media (max-width: 992px) {
  .projects .carousel {
    height: 450px;
  }
  .projects .carousel-inner .item a img {
    height: 380px;
  }
}
@media (max-width: 768px) {
  .projects .carousel {
    height: 350px;
  }
  .projects .carousel-inner .item a img {
    height: 285px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 11%;
  }
}
.projects .carousel-control-prev-icon,
.projects .carousel-control-next-icon {
  background-color: black;
  width: 35px;
  height: 35px;
  border-radius: 7px;
  transition: 0.4s;
}
.projects .carousel-control-prev:hover .carousel-control-prev-icon,
.projects .carousel-control-next:hover .carousel-control-next-icon {
  background-color: var(--main-color);
}
/* End The Projects */

/* Start The Contact */
.contact {
  background-color: #070606e3;
  box-shadow: inset 0px 0px 5px 0px #797171;
}
.contact .main-heading h2 {
  color: var(--main-color);
}
.contact .main-heading h2::before {
  background-color: var(--main-color);
}
.contact .main-heading h2::after {
  border: 2px solid var(--main-color);
}
.contact .contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 10px 40px;
}
@media (max-width: 900px) {
  .contact .contact-container {
    justify-content: center;
  }
}
.contact .contact-container .email-phone {
  color: white;
  font-size: 24px;
  padding: 10px;
}
.contact .contact-container .email-phone .emails {
  margin-bottom: 15px;
}
.contact .contact-container .email-phone .emails .link,
.contact .contact-container .email-phone .phones span {
  color: var(--main-color);
  font-size: 22px;
  font-weight: bold;
}
.contact .contact-container .social-icons {
  font-size: 30px;
  padding: 10px;
  line-height: 89px;
}
.contact .contact-container .social-icons i {
  color: white;
  padding: 0 10px;
  margin-right: 12px;
  transition: 0.3s;
}
.contact .contact-container .social-icons i.facebook:hover {
  color: #3B5998;
}
.contact .contact-container .social-icons i.linkedin:hover {
  color: #0a66c2;
}
.contact .contact-container .social-icons i.github:hover {
  color: #040204;
}
.contact > p {
  color: white;
  margin: 0;
  padding: 0 15px 16px;
  text-align: center;
  font-size: 19px;
}
.contact > p span {
  font-weight: bold;
  color: var(--main-color);
}
/* End The Contact */